<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="score.gsoc.opendf">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".activities.UtilitiesActivity"
            android:label="@string/title_utilities"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.InvestigationActivity"
            android:label="@string/title_activity_investigation"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="score.gsoc.opendf.activities.MainActivity" />
        </activity>
    </application>

</manifest>
